
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Complaint</h5>
        <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <div class="modal-body">
        <form action="POST">

        {{form.title.label(class="form-label")}}
        {{form.title(class="form-control")}}
        {{form.description.label}}
        {{form.description(class="form-control")}}
        {{form.municipality_id.label}}
        {{form.municipality_id(class="form-control")}}
        {{form.ward_id.label}}
        {{form.ward_id(class="form-control")}}
        {{form.status.label}}
        {{form.status(class="form-control")}}
        {{form.created_by.label}}
        {{form.created_by(class="form-control")}}
        <br>
        {{form.submit(class="btn btn-primary")}}

        <!-- <form action="/complains/addcomplaint" method="POST">
          <div class="form-group">
            <label  for="recipient-name" class="col-form-label">Complaint Title:</label>
            <input name="title" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label  for="message-text" class="col-form-label">Description:</label>
            <textarea  name ="description" class="form-control" id="message-text"></textarea>
            
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" value="Submit" class="btn btn-primary">Submit Complaint</button>
          </div> -->
          <!-- <button type="submit" value="Submit" class="btn btn-primary">Submit Complaint</button> -->
        </form>
      </div>
      
    <script>
      $(document).ready(function(){
        $("form").on("submit",function(e){
          e.preventDefault()
          let data = $(this).serializeArray(); 
          $.ajax({
            method:"POST", 
            url:"http://127.0.0.1:5000/complains/addcomplaint", 
            data:data
          }).done(function(msg){
            //when the request is successfull
            $(".modal-body").load("complains/result")
          })
        })
      })
    </script>
