<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-light mb-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Gunaso </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
            
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search Complains" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>


  <div class="container">
        <div class="row justify-content-between">
          <div class="col-4">
            <!-- recent posted report -->
        <div class="container">
          
          <p>Recent Complaints</p>
          <!-- Complaint no.1 -->
          {% for complaint in data %}
          <div class="card mb-2">
           
            <div class="card-body">
              <!-- nagarpalika/gabisa and timestamp of complaint created -->
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-4">
                  <span class="badge text-bg-warning">{{complaint.state}}</span>
                </div>
                <div class="col-6">
                  <p class="text-muted"><small>{{complaint.date_created.strftime('%Y-%m-%d %H:%M')}}</small></p>
                </div>
              </div>

              <!-- complaint title and view button -->
              <div class="row align-items-center justify-content-between">
                <div class="col-6 align-self-center">
                  <p><strong>{{complaint.title}}</strong></p>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-primary">view complaint</button>
                </div>
              </div>
            </div>
            </div>
          </div>

          {% endfor %}


        </div>
          </div>

        <div class="col-4">
          <a data-bs-toggle="modal" data-bs-target="#add-complaint-modal" class="btn btn-outline-primary" type="button">Add Complaint</a>
          <button type="button" class="btn btn-outline-info">Find Complaint</button>
        </div>

        </div>
        
  
  </div>

  <div class="modal fade" id="add-complaint-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        </div>
        </div>
        </div>

        
        <script>
        $(function() {
    $('#add-complaint-modal').on('show.bs.modal', function(e) {
      $(this).find('.modal-content').load("complaint_modal");
    });
  });
        </script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>

</body>
</html>